# LIST

In [5]:
l=[]
type(l),l

(list, [])

In [9]:
l = [1,2,"hello",3.4,True,[1,2,3]]
l

[1, 2, 'hello', 3.4, True, [1, 2, 3]]

### list slicing

In [10]:
l[1]

2

In [11]:
l[2:3]

['hello']

In [12]:
l[::2]

[1, 'hello', True]

In [13]:
l[-1][::-1]

[3, 2, 1]

In [14]:
l[0]=10
l

[10, 2, 'hello', 3.4, True, [1, 2, 3]]

In [16]:
del l[0]
l

['hello', 3.4, True, [1, 2, 3]]

In [19]:
l[2] = 3

In [20]:
len(l)

4

In [21]:
marks = [7,3,2,6]
min(marks)

2

In [22]:
max(marks)

7

In [23]:
sum(marks)

18

In [24]:
sorted(marks)

[2, 3, 6, 7]

In [26]:
sorted(marks, reverse = True)

[7, 6, 3, 2]

In [27]:
sum(marks)//len(marks)

4

In [32]:
 marks=marks+[10,20]

In [33]:
sorted(marks)

[2, 3, 6, 7, 10, 20]

In [34]:
marks * 2

[7, 3, 2, 6, 10, 20, 7, 3, 2, 6, 10, 20]

### list methods

In [35]:
dir(marks)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [36]:
marks.append(10)

In [37]:
marks

[7, 3, 2, 6, 10, 20, 10]

In [38]:
marks.extend([20,30])

In [39]:
marks

[7, 3, 2, 6, 10, 20, 10, 20, 30]

In [40]:
sorted(marks)

[2, 3, 6, 7, 10, 10, 20, 20, 30]

In [41]:
marks

[7, 3, 2, 6, 10, 20, 10, 20, 30]

In [42]:
marks.pop()

30

In [44]:
marks.pop(1)

3

In [45]:
marks

[7, 2, 6, 10, 20, 10, 20]

In [47]:
marks.insert(0,10)

In [48]:
marks.index(7)

1

In [49]:
marks.reverse()

In [50]:
marks

[20, 10, 20, 10, 6, 2, 7, 10]

In [51]:
marks.sort()
marks

[2, 6, 7, 10, 10, 10, 20, 20]

In [52]:
marks.count(10)

3

In [53]:
marks.count(6)

1

In [54]:
marks2 = marks.copy()

In [55]:
marks2

[2, 6, 7, 10, 10, 10, 20, 20]

In [56]:
marks2.clear()

In [57]:
marks2

[]

In [58]:
marks.sort()

In [59]:
marks

[2, 6, 7, 10, 10, 10, 20, 20]

In [61]:
for item in marks:
    print(item)

2
6
7
10
10
10
20
20

In [70]:
index = 0
summing = 0
while index<len(marks):
    summing= summing + marks[index]
    index+= 1
print(summing)

85

In [72]:
index = 0
while index<len(marks):
    print(marks[index],end=" ")
    index+=1

2 6 7 10 10 10 20 20

In [180]:
names = "bhanu teja aswini sravani raghu"
names_list = names.split(" ")
for name in  names_list:
    if name.endswith('u'):
        print(name ,end=' ')

bhanu raghu

In [210]:
names = input("enter a string")
names_list = names.split(" ")
lengths=[]
for name in names_list:
        lengths.append(len(name))
        n = max(lengths)
        if(n==len(name)):
            a=name
print(a)

enter a stringbhanu tejaswini choday sravani
tejaswini

In [175]:
h = [1,2,3]
max(h)

3

In [94]:
names = "bhanu bhuvana ravi sreen"
names_list = names.split(" ")
for name in names_list :
    if name.endswith(('a','e','i','o','u')):
        print(name)

bhanu
bhuvana
ravi

In [95]:
name = input("enter a name ")
if (name)

SyntaxError: invalid syntax (<ipython-input-95-9fe7f35b55da>, line 2)

In [190]:
k = input("enter a name")
print(k.swapcase())

enter a nameheLLo
HEllO

In [212]:
a = input("enter a string")
b = a[::-1]
if(a==b):
    print("YES")
else:
    print("NO")

enter a stringnon
YES

# tuple

In [100]:
t=tuple()
t

()

In [107]:
ages = (6,7,9)
ages , type(ages)

((6, 7, 9), tuple)

### indexing

In [99]:
ages[-1]

9

### slicing

In [101]:
ages[0:2]

(6, 7)

In [102]:
ages[::-1]

(9, 7, 6)

In [103]:
len(ages)

3

In [104]:
min(ages)

6

In [105]:
max(ages)

9

In [108]:
sum(ages)

TypeError: 'int' object is not callable

In [109]:
ages.count(7)

1

In [110]:
ages.count(8)

0

In [111]:
x,y,z=ages

In [112]:
x
y
z

9

In [113]:
print(x,y,z)

6 7 9

In [114]:
a=1,2,3
a,type(a)

((1, 2, 3), tuple)

In [115]:
for item in ages:
    print(item)

6
7
9

In [116]:
for item in ages[::-1]:
    print(item)

9
7
6

1.task6:
2.two strings: given two strings of equal length,you have to tell whether they both strings are identical.(strings)
3.input format: abc cba
4.output format :"yes"

# set

In [145]:
s={ 1,2,3}
type(s)

set

slicing and indexing are not working

In [121]:
len(s)

3

In [122]:
max(s)

3

In [131]:
sum(s)

TypeError: 'int' object is not callable

In [133]:
l = {1,2,1,4,1}
set(1),l

TypeError: 'int' object is not iterable

In [135]:
dir(set)

['__and__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__iand__',
 '__init__',
 '__init_subclass__',
 '__ior__',
 '__isub__',
 '__iter__',
 '__ixor__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__or__',
 '__rand__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__ror__',
 '__rsub__',
 '__rxor__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 '__xor__',
 'add',
 'clear',
 'copy',
 'difference',
 'difference_update',
 'discard',
 'intersection',
 'intersection_update',
 'isdisjoint',
 'issubset',
 'issuperset',
 'pop',
 'remove',
 'symmetric_difference',
 'symmetric_difference_update',
 'union',
 'update']

In [136]:
s.add(s)

TypeError: unhashable type: 'set'

In [143]:
a={1,2,3}
b={3,4,5,6}
a.union(b)

{1, 2, 3, 4, 5, 6}

In [139]:
a.intersection(b)

{3}

In [149]:
a.difference

In [150]:
c = {1}

In [151]:
c.issubsetof(a)

AttributeError: 'set' object has no attribute 'issubsetof'

In [152]:
a.isdisjoint(b)

False

In [174]:
names = "bhanu teja swini manish sravani "
names_list = names.split(" ")